html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 800px) {
    section {
        min-height: 0;
        height: 100%;
    }
}

header {
    height: 80px;
    color: #f9fAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    content: '';
    position: fixed;
    top: 0px;
    width: 100%;
    gap: 30px;
}

#logo {
    width: 120px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #fff;
    padding: 0px 12px;
    margin-top: 30px;
}

#nav {
    color: #f9fAF8;
    display: inline;

}

nav > ul {
    display: flex;
    align-items: center;
}

nav > ul > li {
    color: #dfdfe2;
    margin: 4px;
    padding: 0px;
    display: block;
    list-style: none;
    font-size: 18px;
    margin-left: 20px;
}

li > a {
    color: #dfdfe2;
    text-decoration: none;
}

/* First Seccion */

.formula_one {
    color: #b81414;
}

.first-section {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.web-information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 440px;
    margin-right: 5rem;
}

.first-text {
    font-size: 48px;
    font-weight: 1000;
    color: #f9fAF8;
    margin-bottom: 0px;
    width: 500px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 450px; /*arreglar*/
    line-height: 1.3;
}

button {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px;
    background-color: #3882F6;
    color: #fff;
    font-weight: 1000;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #3882F6;
}

#circuitos {
    height: 340px;
    width: 300px;
    margin: 5px;
    border: 1px solid black;
}

/* Second Seccion */

.second-section {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 1000;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 80px;
    padding: 0px;
    text-align: center;
}

.F1-Teams-text-img {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 52px;
}

.extra {
    font-size: 18px;
    max-width: 250px;
    color: #afafb1;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Third Seccion */

.third-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.container3 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: flex-end;
}
.phrase {
    font-size: 36px;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 900px; /*arreglar*/
    margin-bottom: 15px;
    font-style: italic;
}

.autor {
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif; /*revisar*/
}

/* Fourth Seccion */

.fourth-section {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4 {
    width: 75%;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 100px 60px 100px;
}

.information {
    font-size: 24px;
}

.bold {
    font-weight: bold;
    color: #fff;
}

.texto{
    color: #f8f8f8;
}

.final-button {
    background-color: #3882F6;
    border: 3px solid white;
    color: #fff;
    font-weight: 1000;
    border-radius: 10px;
    display: flex;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-size: 18px;
}

.final-button:hover {
    color: #3882f6;
    background-color: #fff;
    transform: translateY(-2px);
    box-shadow: -1px 8px 16px 0px #2b64bd;
}

/* Fith Seccion */
.fith-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px;

    background-color: #1f2937;
    height: 60px;
}

.copyright {
    color: #fff;
}


