.first-section {
    width: 100%;
    height: 400px;
    background-color: #1F2937;
    padding: 6px;
    margin: 0px;
}


header {
    width: 100%;
    height: 80px;
    color: #f9fAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}


#logo {
    width: 80px;
    height: 50px;
    border-radius: 30px;
    padding: 12px;
    /* text-align: center; */
    position: absolute;
    top: 20px;
    right: 150px;
    left: 330px;
}

#nav {
    color: #f9fAF8;
    width: 50%;
    height: 50px;
    /* justify-content: center; */
    /* text-align: center; */
    position: absolute;
    top: 45px;
    right: 20px;
    left: 580px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
}
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 4px;
    padding: 0px;
    display: block;
    list-style: none;
    font-size: 18px;
}

  li > a {
    color: #dfdfe2;
    text-decoration: none;
}

.first-text {
    font-size: 48px;
    font-weight: 1000;
    color: #f9fAF8;
    margin-left: 16px;
    margin-right: 400px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 0px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    /* margin: 16px; */
    padding: 8px;
    margin-right: 86px;
    margin-top: 0px;
    margin-left: 11px;
    margin-bottom: 0px;
}

.web-information {
    display: flex;
    margin: 0auto;
    position: absolute;
    top: 90px;
    right: 300px;
    left: 300px;
    padding: 20px;
    margin-top: 12px;
}

button {
    margin-right: 16px;
    margin-top: 4px;
    margin-left: 20px;
    margin-bottom: 4px;
    padding: 8px;
}

#circuitos {
    height: 230px;
    width: 250px;
    margin: 24px;
}


  
